

*{
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    background-color: #F5F5F5;
}

.header{
    background-color: #1C7C54;
    width: 100%;   
    height: fit-content; 
   
    
}

.wrapper{
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;

}

.wrapper b{
    float: right;
}

.wrapper h1 {
    margin-bottom: 20px;
}

.wrapper b{
    color: beige;
}

.links{
    color: #FFD700;
    background-color: #003366;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5%;
    margin-top: 10%;
}

.leagues{
    margin: 30px;
    margin-left: 50px;
}

.leagues ul{
    list-style-type: none;
}

.leagues li{
    color:#333333 ;
    margin-left: 30px;
    margin-top: 10px;
    background-color: bisque;
    width: fit-content;
    padding: 10px;
}